/* .container-images {
    background-image: url('images/jumbo.jpg');
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
} */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.jumbotron-fluid {
    background-image: url('images/portfolio_background.jpeg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    opacity: .9;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    padding: 0;
    
}
.display-4, .lead{
    color: white;
}

body {
    color: black;
}
.work {
    color: black;
    text-align: center;
}

#liri-card {
    height: 225px;
    background-image: url('images/liri.png');
    background-size: 100%;
    opacity: .9;
}
#giftune-card {
    height: 225px;
    background-image: url('images/giftune.png');
    background-size: 100%;
    opacity: .9;
}
#train-card {
    height: 225px;
    background-image: url('images/stacks.jpeg');
    background-size: 100%;
    opacity: .9;
}
#trivia-card {
    height: 225px;
    background-image: url('images/lightning.jpg');
    background-size: 100%;
    opacity: .9;
}
#mushroom-card {
    height: 225px;
    background-image: url('images/IMG_1967.jpeg');
    background-size: 100%;
    opacity: .9;

}
